<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gear Planning</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1> <%=@user.name%>'s Trips </h1>
			<h3> <a href="/"> [home] </a></h3>
		</div>
			<div class="simpleList">
			<ul>
				<% @trips.each do |trip| %>
				<li>
  					<a href="/trips/<%= trip.id %>"><%= trip.name %></a>
  					<span class="date"><%="#{trip.date.to_s}"%></span>
				</li>
				<% end %>	
			</ul>
			</div>
			<div class="addNew">
			<h3> Add a new trip </h3>
			<form action='/create_trip' method='POST'>
		  			<input type='text' name='name' placeholder='name' />
		  			<input type='text' name='date' placeholder='date' />
		  			<input type='submit' value='Save'>
			</form>
	</div>
</body>
</html>