
body, html {
    margin:0;
    padding:0;
    color:#000;
    background:#a7a09a;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	color: #000000;
}

.wrapper{
    width:750px;
    margin:0 auto;
    background:#99c;
}


.header {
    background:#ddd;
}
.items, .trips {
    float:left;
	width:500px;
	background:#9c9;
}
.users {
    float:right;
	width:250px;
	background:#c9c;
}



h1{
	text-align: center;
	margin-bottom: 0px;
}
h2{
	text-align: center;
	margin:0px;
	margin-bottom: 5px;
}

h3 {
	text-align: center;
	margin: 0px;
}

a{
	text-decoration: none;
	color: #666666;
}

a:hover {
    color: #000000;
}

.date{
	font-style: italic;
	font-size: 70%;
}

.addNew {
	font-style: italic;
	text-align: center;
}

ul {
    list-style-type: none;
}

#user1 {
	width:350px;
	height:70px;
	padding:10px;
	border:1px solid #aaaaaa;
}

.item {
	text-align: left;
	font-size: 100%;
}

.userLists {
	border:1px solid #aaaaaa;
	list-style-type: none;
}

.header{
	border:5px solid #111111;
}

.users{
	border:5px solid #111111;
}

.trips{
	border:5px solid #111111;
}

.items{
	border: 5px solid #111111;
}
